.sidebar{
    background-color: darkslategrey;
    width:20%;
    height:100vh;
}
body{
    margin:0;
}

.fixoverflow{
    display:flex;
}

/* .Sidebar{
    float:left;
}

.p{
    float:left;
} */

#resize{
    background-color: darkviolet;
}

.mapdiv{
    height:200px;
    width:200px;
}