.sidebar{
    background-color: darkslategrey;
    width:20%;
    height:100vh;
}
body{
    margin:0;
}

.fixoverflow{
    display:flex;
}

/* .Sidebar{
    float:left;
}

.p{
    float:left;
} */

#resize{
    background-color: darkviolet;
}

.buttonprompt{
    position: absolute;
    left:200px;
    top:50px;
    height:15%;
    width:30%;
    background-color: lightblue;
}