@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

h2{
  color:darkviolet;  
  font-family:'Raleway', sans-serif;
  font-weight: bold;
}

body{
  /* background-image: url('lighblue.jpg'); */
  background-repeat: no-repeat;
  background-size:cover;
  /*width: 1200px;  
  padding: 100px;
  margin: 50px;*/
}
 p {
  font-family: 'Playfair Display', serif;
 }
 .sidediv{
  width: 250px;
  border: 15px solid deepskyblue;
  padding: 50px;
  margin-top: 20px;
  margin-left:20px;
  margin-right:0;
 }
 .maindiv{
  width: 680px;
  border: 15px solid deepskyblue;
  padding: 70px;
  /*margin: 400px;*/
  float:right;
  margin-top: 20px;
  margin-left:80px;
  /*margin-right:0;*/
 }